[submodule "src/github.com/cloudfoundry-incubator/cf-test-helpers"]
	path = src/github.com/cloudfoundry-incubator/cf-test-helpers
	url = git@github.com:cloudfoundry-incubator/cf-test-helpers.git
[submodule "src/github.com/nu7hatch/gouuid"]
	path = src/github.com/nu7hatch/gouuid
	url = git@github.com:nu7hatch/gouuid.git
[submodule "src/github.com/tedsuo/ifrit"]
	path = src/github.com/tedsuo/ifrit
	url = git@github.com:tedsuo/ifrit.git
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = http://github.com/onsi/ginkgo.git
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = http://github.com/onsi/gomega.git
[submodule "src/github.com/hashicorp/consul"]
	path = src/github.com/hashicorp/consul
	url = http://github.com/hashicorp/consul.git
[submodule "src/github.com/cloudfoundry-incubator/candiedyaml"]
	path = src/github.com/cloudfoundry-incubator/candiedyaml
	url = http://github.com/cloudfoundry-incubator/candiedyaml.git
